<section class="face-wrapper">
    <div class="face-background" [ngStyle]="{'background':'url('+faceService.getUserImage()+') no-repeat center/cover'}"
         [ngClass]="{'--blur': faceService.currentUser?.isBanned}"></div>
    <div class="face-container">
        <div class="header-info">
            <div class="header-info__status">
                <h1 *ngIf="faceService.isFirstUser()">
                    {{"i'm" | uppercase}}
                </h1>
                <h1 *ngIf="!faceService.isFirstUser()">
                    {{"i was" | uppercase}}
                </h1>
                <h1>
                    {{"the first" | uppercase}}
                </h1>
                <h1>
                    {{"face of the" | uppercase}}
                </h1>
                <h1>
                    {{"world" | uppercase}}
                </h1>
            </div>
            <div class="header-info__time">
                <div class="time-container">
                    <h3 class="time time-days">
                        {{'4 days' | uppercase}}
                    </h3>
                    <h3 class="time time-hours">
                        {{'7 hours' | uppercase}}
                    </h3>
                    <h3 class="time time-min">
                        {{'45 minutes' | uppercase}}
                    </h3>
                    <h3 class="time time-sec">
                        {{'12 seconds' | uppercase}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="routes" [hidden]="!faceService.isFaceComponent()">
            <a class="circle-button leader-icon" [routerLink]="['board']"></a>
            <a class="circle-button info-icon" [routerLink]="['info']"></a>
            <div class="pulsar-btn-container">
                <a class="animate-icon info-icon" [routerLink]="['info']"></a>
            </div>
            <div class="routes-container">
                <div class="route__arrows">
                    <left-arrow-icon class="circle-button" [hidden]="faceService.isLastUser()"
                                     [routerLink]="['/',faceService.getPreviousIdUser()]"></left-arrow-icon>
                    <right-arrow-icon class="circle-button" [hidden]="faceService.isFirstUser()"
                                      [routerLink]="['/',faceService.getNextIdUser()]"></right-arrow-icon>
                </div>
                <div class="face-route__become">
                    <a class="long-button" [routerLink]="['/become']">
                        <p>{{'become the first' | uppercase}}</p>
                    </a>
                </div>
                <div class="route__share" [ngClass]="{'--un-active': !faceService.isShareOpen}">
                    <a class="long-button --small" (click)="faceService.copyToClipBoard()">
                        <p>{{'copy link for friends' | uppercase}}</p>
                    </a>
                    <a class="circle-button twitter-icon"></a>
                    <a class="circle-button googleplus-icon"></a>
                    <a class="circle-button facebook-icon"></a>
                    <a class="circle-button share-icon" (click)="faceService.toggleShare()"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id='faceRouter' [@faceTransition]="prepareRouteTransition(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

