<section class="board-template-wrapper">
    <div class="board-template-background" *ngIf="boardService.currentUser.image"
         [ngClass]="{'--blur':boardService.currentUser.isBanned}"
         [ngStyle]="{'background':'url('+boardService.currentUser.image+') no-repeat center/cover'}">
        <a class="circle-button close-icon" (click)="getBack()"></a>
    </div>
    <div class="board-template-container" *ngIf="!boardService.currentUser.image">
        <icons class="circle-button close-tr-icon --no--shadow --no-scale" [name]="'close-black-tr'"
               (click)="getBack()"></icons>
        <div class="board-inner">
            <div class="leader-icon-container">
                <div class="leader-icon__color"></div>
            </div>
            <h1 class="board-title">
                {{boardMock.title}}
            </h1>
            <p class="board-info">
                {{boardMock.info}}
            </p>
        </div>
        <div class="routes-container">
            <div class="leader-route__become">
                <a class="long-button --bordered" [routerLink]="['/become']">
                    <p>{{'become the first' | uppercase}}</p>
                </a>
            </div>
        </div>
    </div>
</section>
