.hr-line-modal {
  background: $lightgray3;
  height: $f2;
  width: ($f377 + $f42 + $f5 + $f2);
  position: relative;
  right: $f26;
}
.hr-line-redact{
  position: relative;
  right: $f26;
  background: $lightgray3;
  height: $f2;
  width: ($f377 + $f42 + $f5 + $f2);
}