
.leader-board-wrapper {
    .leader-board-container {
        display: flex;
        flex-direction: row;
        .leader-list {
            position: absolute;
            background-color: $white;
            width: 25vw;
            .board-list__leaders {
                overflow: auto;
                height: calc(100vh - (#{$f288} + #{$f16} - (#{$f8} / 2)));
            }
            .leader-container {
                position: relative;
            }
            .leader-background-image {
                width: 25vw;
                position: absolute;
                display: block;
                z-index: 30;
                height: $f288 + $f16 - ($f8 /2);
            }
            .leader-background-color {
                @include before-background;
                width: 25vw;
                height: $f288 + $f16 - ($f8 /2);
                z-index: 40;
            }
            .leader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: $f26 $f34;
                height: $f288 + $f16 - ($f8 /2);
                position: relative;
                z-index: 40;
                .leader-icon-container {
                }
                .leader-position {
                    position: relative;
                    font-size: $f68;
                    color: white;
                    @include text-shadow;
                    font-family: AkrobatBold, sans-serif;
                }
                .time-container {
                    position: relative;
                    .time {
                        color: $white;
                        font-size: $f26;
                        @include text-shadow;
                    }
                }
            }
        }
    }
}

.leader-info-wrapper {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    right: 0;
    position: absolute;
    .leader-info-background-image {
        @include background-image;
    }
    .leader-info-background-color {
        @include before-background;
        z-index: 40;
    }
    .leader-info-container {
        width: $f610 + $f89;
        z-index: 50;
        .leader-name {
            position: relative;
            font-size: $f68;
            font-family: AkrobatBold, sans-serif;
            margin-bottom: $f42;
        }
        .leader-info {
            position: relative;
            font-size: $f26;
            line-height: $f34;
            font-family: LoraBold, sans-serif;
            margin-bottom: $f42;
            &::before {
                content: ' ';
                background-image: url("/assets/img/icons/quotes.svg");
                position: absolute;
                width: $f34;
                left: -$f89;
                top: $f16;
                height: $f26;
            }
        }
        .leader-contacts {
            position: relative;
            font-family: AkrobatBold, sans-serif;
            font-size: $f21;
            padding: 0 $f5;
            p {
                opacity: 0.62;
                margin-bottom: $f26;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.--before::before {
    display: block;
}

.--blur {
    filter: blur($f26);
}

.board-template-wrapper {
    position: absolute;
    background-color: $white;
    width: 75vw;
    right: 0;
    .board-template-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: LoraBold, sans-serif;
        height: 100vh;
        .board-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .board-title {
            font-size: $f55;
            padding-top: $f42;
        }
        .board-info {
            padding-top: $f110 + $f18;
            font-size: $f26;
            line-height: $f34;
            width: $f466 + $f178;
            text-align: center;
        }
        .routes-container {
            width: inherit;
            margin: 0;
        }
    }
    .board-template-background {
        @include background-image;
        right: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

