//@import './css/component.scss';
//@import './css/cs-select.scss';
//@import './css/cs-skin-boxes.scss';
//@import './css/demo.scss';

$backgorund-color: #13002E;

$backgorund-color--twitter: #5CC4E8;
$backgorund-color--facebook: #4A78B6;
$backgorund-color--google: #C94130;

@mixin soc-background($soc) {
    @if ($soc == 'facebook') {
        background-color: $backgorund-color--facebook;
    }
    @if ($soc == 'google') {
        background-color: $backgorund-color--google;
    }
    @if ($soc == 'twitter') {
        background-color: $backgorund-color--twitter;
    }
}

.pay-wrapper {
    background-color: $backgorund-color;
    height: 100vh;
    color: $white;

    .pay-header-left {
        position: absolute;
        left: $f68;
        top: $f68;
        &__title {
            font-family: AkrobatBold, sans-serif;
            font-size: $f55;
            opacity: 0.38;
        }
    }
    .pay-container {
        height: 100%;
        padding: $f89 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .pay-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
                font-size: $f89;
                font-family: ImpactRegular, sans-serif;
                margin-bottom: $f55;
            }
            &__title-small {
                font-size: $f34;
                font-family: AkrobatBlack, sans-serif;
            }
        }

        .pay-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: AkrobatBold, sans-serif;
            width: $f610;
            &__title {
                font-size: $f55;
                margin-bottom: $f26;
            }
            &__info {
                font-size: $f26;
                opacity: 0.62;
                margin-bottom: $f89;
                width: $f610 + $f21;
                p {
                    text-align: center;
                    line-height: $f34;
                }
            }
            &__action {
                font-size: $f34;
            }
            &__input-name {
                margin-bottom: $f89;
                @mixin placeholder {
                    text-align: center;
                    color: $white;
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f55;
                }
                input {
                    width: $f610;
                    height: $f68;
                    background: transparent;
                    color: white;
                    border: 0;
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f55;
                    text-align: center;
                    border-bottom: $f1 solid rgba(255, 255, 255, 0.38);
                }

                ::-webkit-input-placeholder {
                    @include placeholder;
                }
                ::-moz-placeholder {
                    @include placeholder;
                }
                :-ms-input-placeholder {
                    @include placeholder;
                }
                :-moz-placeholder {
                    @include placeholder;
                }
            }
            &__input {
                .input-link {
                    border: 0;
                    border-bottom: $f2 solid rgba(255, 255, 255, 0.13);
                    background-color: transparent;
                    margin-bottom: $f55;
                    width: $f610;
                    height: $f26 + $f3;
                    color: $white;
                    text-align: center;
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f21;
                    opacity: 0.38;
                }
                ::-webkit-input-placeholder {
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f21;
                    text-align: center;
                    color: $white;
                }
                &__info-link{
                    position: relative;
                }
            }
            &__title-count {
                display: flex;
                justify-content: space-between;
                font-family: AkrobatBold, sans-serif;
                font-size: $f55;
                width: $f610;
                margin-bottom: $f26;
                p:nth-child(2) {
                    opacity: 0.13;
                }
            }

            &__text-area {
                margin-bottom: $f89;
                textarea {
                    padding: $f13;
                    color: white;
                    width: $f610;
                    height: $f233;
                    background-color: transparent;
                    border: $f2 solid rgba(255, 255, 255, 0.13);
                    resize: none;
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f26;
                }
                ::-webkit-input-placeholder {
                    font-family: AkrobatBold, sans-serif;
                    font-size: $f26;
                    opacity: 0.21;
                }
            }
        }
        .pay-sign-in {
            font-family: AkrobatBold, sans-serif;
            font-size: $f21;
            & > div {
                height: $f55;
                width: $f330 + $f13;
                border-radius: $f5;
                margin-bottom: $f21;

                display: flex;
                align-items: center;
                cursor: pointer;
            }
            .icon {
                width: $f26;
                height: $f26;
                margin-left: $f16;
                margin-right: $f13;
            }
            .sign-text {
                display: flex;
                align-items: center;
                border-left: $f1 solid $white;
                height: 100%;
                padding-left: $f34;
            }
            @each $soc in twitter, facebook, google {
                &__#{$soc} {
                    @include soc-background($soc);
                    .icon-#{$soc} {
                        background: url("/assets/img/icons/social/#{$soc}-simple.svg") no-repeat center;
                    }
                }
            }
            div:last-child {
                margin-bottom: 0;
            }
        }
        .pay-footer {
            font-family: AkrobatBold, sans-serif;
            font-size: $f26;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
            }
            &__title:first-child {
                margin-bottom: $f8;
            }
        }
    }
    .pay-steps {
        .pay-container__absolute{
            opacity: 1;
            position: absolute;
            height: initial;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .pay-step-container {
        width: $f34;
        .pay-step {
            width: $f34;
            height: $f34;
            border: 0;
            padding: 0;
            margin-bottom: $f16 + $f3;
            cursor: pointer;
        }
        .pay-step:last-child {
            margin-bottom: 0;
        }
    }
}
