@font-face {
    font-family: AkrobatBlack;
    src: url("#{$fonts-path}/Akrobat/Akrobat-Black.otf") format("opentype");
}

@font-face {
    font-family: AkrobatBold;
    src: url("#{$fonts-path}/Akrobat/Akrobat-Bold.otf") format("opentype");
}

@font-face {
    font-family: AkrobatRegular;
    src: url("#{$fonts-path}/Akrobat/Akrobat-Regular.otf") format("opentype");
}

@font-face {
    font-family: ImpactRegular;
    src: url("#{$fonts-path}/Impact/Impact-Regular.ttf") format("truetype");
}

@font-face {
    font-family: LoraBold;
    src: url("#{$fonts-path}/Lora/Lora-Bold.ttf") format("truetype");
}
